<<<<<<< HEAD
.lead__image{
  width: 100%;
  margin: 64px auto 0;
}

@media screen and (max-width: 1140px) {
  .lead__image {
    margin: 56px auto 0;
  }
}

@media  screen and (max-width: 568px) {
  .lead__image {
    margin: 40px auto 0;

  }
}
=======
.lead__image {
  width: 100%;
  margin: 64px 0 0;
}

@media (max-width: 1024px) {
  .lead__image {
    margin: 56px 0 0;
  }
}

@media (max-width: 320px) {
  .lead__image {
    margin: 40px 0 0;
  }
}

>>>>>>> 9851c1b33aa1b2ae2fe60b387dd13ed7c3bba1a3
