.lead {
<<<<<<< HEAD
  max-width: 984px;

}

@media screen and (max-width: 1140px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and(max-width: 984px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and(max-width: 568px) {
  .lead {
    max-width: 320px;
=======
  max-width: calc(100% - (296/1280*100%));
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .lead {
    max-width: calc(100% - (96/1024*100%));
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: calc(100% - (48/768*100%));
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: calc(100% - (32/320*100%));
>>>>>>> 9851c1b33aa1b2ae2fe60b387dd13ed7c3bba1a3

  }
}
