.lead {
  max-width: calc(100% - (296/1280*100%));
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .lead {
    max-width: calc(100% - (96/1024*100%));
  }
}

@media (max-width: 768px) {
  .lead {
    max-width: calc(100% - (48/768*100%));
  }
}

@media (max-width: 320px) {
  .lead {
    max-width: calc(100% - (32/320*100%));

  }
}
