.intro {
  max-width: 690px;
  margin-left: 100px;
}

@media screen and (max-width: 1195px ) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 950px ) {
  .intro {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}


@media screen and (max-width: 650px ) {
  .intro {
    max-width: calc(100% - 32px);
  }
}
