.place__url-heading {
  font-size: 12px;
  line-height: 170%;
  letter-spacing: 2px;
  color: #AAA;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 950px ) {
  .place__url-heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 650px ) {
  .place__url-heading {
    max-width: 100%;
    row-gap: 50px;
  }
}
