<<<<<<< HEAD
.content {
  display: grid;
  row-gap: 92px;
  justify-content: center;
  margin-top: 56px;
}

@media  screen and (max-width: 1140px) {
  .content {
    margin-top: 48px;
  }
=======
.contenr {
  max-width: 1184px;
>>>>>>> 9851c1b33aa1b2ae2fe60b387dd13ed7c3bba1a3
}
