.content {
  max-width: 1184px;
  min-width: 288px;
  display: grid;
  row-gap: 92px;
  justify-content: center;
  align-self: center;
  margin: 56px auto 0;

}

@media screen and (max-width: 1024px) {
  .content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }
}

@media  screen and (max-width: 320px) {
  .content {
    max-width: 320px;
  }
}
