.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

@media screen and (max-width: 1195px ) {
  .header {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 950px ) {
  .header {
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 650px ) {
  .header {
    max-width: calc(100% - 32px);
  }
}
