.places {
  max-width: 984px;
  display: grid;
  row-gap: 80px;
  justify-content: center;
}

@media screen and (max-width: 1195px ) {
  .places {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 950px ) {
  .places {
    max-width: calc(100% - 48px);
    row-gap: 73px;
  }
}

@media screen and (max-width: 650px ) {
  .places {
    max-width: 100%;
    row-gap: 50px;
  }
}
