.lead__title{
  max-width: 720px;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 0;


}

@media  screen and (max-width: 705px) {
  .lead__title {
    max-width: calc(100% - (32/320 *100%));
    font-size: 40px;
    line-height: 44px;
  }
}
