.lead__title {
  max-width: 720px;
  margin: 56px  auto 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__title{
    margin: 48px auto 0;
    font-size: 40px;
    line-height: 44px;
  }
}


