<<<<<<< HEAD
.lead__title{
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  margin: 0 auto 0;
}

@media  screen and (max-width: 568px) {
  .lead__title {
    max-width: 288px;
=======
.lead__title {
  max-width: 720px;
  margin: 56px  auto 0;
  font-size: 96px;
  line-height: 100px;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__title{
    margin: 48px auto 0;
>>>>>>> 9851c1b33aa1b2ae2fe60b387dd13ed7c3bba1a3
    font-size: 40px;
    line-height: 44px;
  }
}
<<<<<<< HEAD
=======


>>>>>>> 9851c1b33aa1b2ae2fe60b387dd13ed7c3bba1a3
