.header__lang-link {
  font-size: 24px;
  font-weight: 28px;
  margin: 0 18px 0 0;
  color: white;
}

.header__lang-link:last-of-type {
  margin: 0;
  text-decoration: none;
}

@media (max-width: 560px) {
  .header__lang-link {
    font-size: 18px;
    font-weight: 20px
  }
}
